



@if (ViewBag.Message != null)
{
	<span style="color:orangered">@Html.Raw(ViewBag.Message)</span>
}



<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-1234567890abcdefghijklmnopqrstuvwxy" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title>@ViewData["Title"] - Your_REST</title>
@{
	Layout = "";
}




<div>
	<button onclick="window.location.href = 'https://localhost:7166/item/Next_Item?item_id=@ViewBag.id'" class="triangle-button-right"></button> @*زرار التقليب اليمن *@

	<button onclick="window.location.href = 'https://localhost:7166/item/be_Item?item_id=@ViewBag.id'" class="triangle-button-left"></button> @*زرار التقليب اليسار *@
</div>
<div style="margin-left:10% ;margin-top:3% ;position:relative">
	<a asp-action="wellcome" asp-controller="Register_User">	<i class="fa">&#xf053;</i> </a>
</div>
<div style="margin-left:15%;margin-top:-2.8%;">
	<span style="font-family:'Gill Sans MT';font-size:40px; text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)"><b>Menu</b> </span>
</div>
<div align="right" style="margin-right:15%;margin-top:-1.8%;">
	<a asp-action="cart" asp-controller="item">	<i class="fa">&#xf07a;</i> </a>
</div>
<div align="right" style="margin-right:8%;margin-top:-2.3%;">
	<a asp-action="Index_Search" asp-controller="search">	<i class="fa">&#xf002;</i> </a>
</div>
<div style="margin-left:10%;margin-top:2%;">
	<span style="font-family:'Gill Sans MT';font-size:40px;color: #000000;">@ViewBag.name</span>
</div>
<div style="margin-left:10%;margin-top:2%;margin-top:-0%;">

	@for (int i = 0; i < @ViewBag.stars; i++)
	{
		<span>
			<i class="fa" id="stars">&#xf005;</i>
		</span>
	}
	@for (int i = @ViewBag.stars; i < 5; i++)
	{
		<span>
			<i class="fa" id="star">&#9734;</i>
		</span>
	}
</div>
<div style="margin-left:10%;margin-top:1%;">
	<input type="checkbox" id="heart-checkbox">
	<label for="heart-checkbox">
		<span class="fa fa-heart"></span>
	</label>
</div>




<div class="yy" style="margin-left:18%;margin-top:-2.1%; ">$@ViewBag.cost</div>






<div class="cart-container">

	<div class="cart-controls">
		<button class="minus-btn" onclick="decrement()">-</button>
	</div>
	<div class="cart-counter">
		<span class="counter">0</span>
	</div>
	<div class="cart-controls">
		<button class="plus-btn" onclick="increment()">+</button>
	</div>
</div>
<div class="cart-icon">
	<a asp-action="AddToCart" asp-controller="item" asp-route-id="@ViewBag.id" class="btn btn-primary">  	<i class="fa">&#xf07a;</i> </a>
	<span class="counter"></span>
</div>
<div style="margin-left:10%;">
	<p style="font-family:'Noto Sans Gujarati UI';font-style: normal;font-weight:300;color: #000000;font-size: 30px;line-height:10px;"><b>Product Discription</b></p>

	<p style="font-style:normal;font-size: 13px;line-height: 27px;color: rgba(0, 0, 0, 0.96);width: 50%;">
		@ViewBag.description
	</p>
	<p style="font-family: 'Noto Sans Gujarati UI';font-style: normal;font-weight:300;color: #000000;font-size: 32px;line-height: 25px;"><b>Reviews</b></p>

	<img src="~/img1/@ViewBag.image" alt=" dept_img_error" style="position:absolute;left:65% ; width: 300px; height: 250px;margin-top:-26%; " />
</div>

<div class="comments">
	<div class="rating">
		<span class="fa fa-star" data-rating="1"></span>
		<span class="fa fa-star" data-rating="2"></span>
		<span class="fa fa-star" data-rating="3"></span>
		<span class="fa fa-star" data-rating="4"></span>
		<span class="fa fa-star" data-rating="5"></span>
	</div>

	<textarea name="content" id="comment-text" placeholder="Add a reviews..."></textarea>
	<button type="submit" onclick="addComment()">Add Review</button>

	<ul id="comment-list">
	</ul>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">





<style>
	.comments {
		border: 1px solid #ccc;
		padding: 10px;
		margin-left: 10%;
		border: none;
		width: 50%;
	}

		.comments h2 {
			font-size: 24px;
			margin-bottom: 10px;
		}

		.comments form {
			margin-bottom: 10px;
		}

		.comments textarea {
			width: 100%;
			height: 100px;
			padding: 10px;
			font-size: 16px;
			border: 1px solid #ccc;
			border-radius: 5px;
			resize: none;
			margin-bottom: 10px;
			margin-left: -12px;
		}

		.comments button {
			background-color: #F9BD58;
			color: white;
			border: none;
			padding: 10px;
			border-radius: 5px;
			font-size: 16px;
			cursor: pointer;
		}

			.comments button:hover {
				background-color: orange;
			}

		.comments ul {
			list-style-type: none;
			padding: 0;
			margin: 0;
		}

		.comments li {
			margin-bottom: 10px;
			border: 1px solid #ccc;
			border-radius: 5px;
			padding: 10px;
		}

			.comments li:last-child {
				margin-bottom: 0;
			}

		.comments .comment-author {
			font-weight: bold;
			margin-right: 10px;
		}

		.comments .comment-date {
			font-style: italic;
			margin-left: 10px;
			color: #aaa;
		}

	.star-rating {
		unicode-bidi: bidi-override;
		direction: rtl;
	}

		.star-rating > span {
			display: inline-block;
			position: relative;
			width: 1.1em;
		}

			.star-rating > span:hover:before,
			.star-rating > span:hover ~ span:before {
				content: "\2605";
				position: absolute;
				color: #FFD700;
			}

			.star-rating > span:before {
				content: "\2606";
				position: absolute;
			}

	.rating {
		display: inline-block;
		font-size: 0;
		margin-left:-2%;
		margin-top:-5%;
	}

		.rating .fa {
			font-size: 40px;
			cursor: pointer;
			transition: color 0.25s ease;
		}

			.rating .fa:hover {
				color: #F9BD38;
			}

			.rating .fa.active,
			.rating .fa.selected {
				color: #F9BD38;
			}

			.rating .fa.hover {
				color: #F9BD38;
			}

</style>
<style>

	.cart-container {
		display: flex;
		font-size: 15px;
		width: 4.5%;
		height: 4%;
		border: 3px solid #f9bd38;
		border-radius: 10px;
		margin-left: 21%;
		margin-top: -2.1%;
		box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	}

	.cart-controls {
		display: flex;
		margin-top: 1px;
		margin-left: 1px;
		margin-right: 2px;
		padding: -20px;
	}

	.cart-counter {
		display: flex;
		justify-content: center;
		width: 50%;
		height: 100%;
	}

	.cart-icon {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		color: #000;
		font-size: 20px;
		cursor: pointer;
		margin-left: 13%;
		margin-top: -3.1%;
	}

		.cart-icon .counter {
			position: absolute;
			top: 5px;
			right: 8px;
			color: #000;
			font-size: 10px;
			display: flex;
		}

	.minus-btn {
		width: 15px;
		height: 15px;
		border: none;
		border-radius: 5px;
		font-size: 16px;
		color: #000;
		background-color: #fff;
		cursor: pointer;
	}

	.plus-btn {
		width: 15px;
		height: 15px;
		border: none;
		border-radius: 5px;
		font-size: 16px;
		color: #000;
		background-color: #fff;
		cursor: pointer;
	}

		.minus-btn:hover,
		.plus-btn:hover {
			background-color: azure;
		}

		.minus-btn:focus,
		.plus-btn:focus {
			outline: none;
		}

	.heart-label {
		display: inline-block;
		width: 30px;
		height: 30px;
		background-color: transparent;
		border-radius: 80%;
		border: 1px solid;
		border-color: #f2bd38;
		text-align: center;
		line-height: 30px;
		cursor: pointer;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
	}

	input[type="checkbox"] {
		display: none;
	}

	label > .fa-heart:before {
		content: "\f08a";
		color: #f2bd38;
	}

	input[type="checkbox"]:checked + label > .fa-heart:before {
		content: "\f004";
		color: red;
	}


	.fa {
		font-size: 29px;
		color: black;
	}

	.back-button {
		border: none; /*هنا بنشيل البوردر من الزرار*/
		background-color: #ffffff; /*هنا لون خلفية الزرار*/
		height: 38px; /*يحدد ارتفاع الزر بـ 48 بيكسل */
		width: 40px; /*يحدد عرض الزر بـ 50 بيكسل*/
		border-radius: 50%; /*يجعل حواف الزر دائرية بنسبة 50% من ارتفاع الزر*/
		transition: all 0.3s ease; /*يعمل على إضافة تأثير تدريجي على الخصائص المحددة عند حدوث تغييرات عليها.*/
		font-size: 50px;
	}

	.triangle-button-left {
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		width: 0;
		height: 0;
		border-top: 25px solid transparent;
		border-bottom: 25px solid transparent;
		border-right: 40px solid #f2bd38;
		background-color: white;
		cursor: pointer;
		transition: all 0.3s ease;
		border-left: none;
	}

	/*	.triangle-button-left:hover {
				border-right: 20px solid #f2bd38;
				color: white;
			}*/

	.triangle-button-right {
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		width: 0;
		height: 0;
		border-top: 25px solid transparent;
		border-bottom: 25px solid transparent;
		border-left: 40px solid #f2bd38;
		background-color: white;
		cursor: pointer;
		transition: all 0.3s ease;
		border-right: none;
	}

	/*.triangle-button-right:hover {
				border-left: 20px solid #f2bd38;
				color: white;
			}
	*/
	#stars {
		color: #f2bd38; /* لون النجوم */
		font-size: 24px; /* حجم النجوم */
	}

	#star {
		margin: 0 2px; /* المسافة بين النجوم */
		color: blanchedalmond;
		border-color: black;
	}

</style>
<script>

	let timeoutId;

	function resetTimer() {
		clearTimeout(timeoutId);
		timeoutId = setTimeout(function () {
			window.location.href = "/Homepage/Logout";
		}, 100000); // 5 seconds
	}

	// تم استدعاء resetTimer عند تحريك الماوس أو الضغط على أي مفتاح
	document.addEventListener("mousemove", resetTimer);
	document.addEventListener("keypress", resetTimer);

	// يمكن أيضًا استدعاء resetTimer مباشرةً عند بدء التحميل لصفحة ال welcome
	resetTimer();
</script>

<script>
	var stars = document.querySelectorAll(".rating .fa");

	stars.forEach(function (star, index) {
		star.addEventListener("click", function () {
			var rating = index + 1;
			for (var i = 0; i < stars.length; i++) {
				if (i < rating) {
					stars[i].classList.add("active");
				} else {
					stars[i].classList.remove("active");
				}
			}
		});

		star.addEventListener("mouseover", function () {
			var rating = index + 1;
			for (var i = 0; i < rating; i++) {
				stars[i].classList.add("hover");
			}
		});

		star.addEventListener("mouseout", function () {
			var rating = index + 1;
			for (var i = 0; i < stars.length; i++) {
				stars[i].classList.remove("hover");
			}
		});
	});
	let counter = 0;
	const counterElement = document.querySelector('.counter');
	const cartCounterElement = document.querySelector('.cart-icon .counter');

	function increment() {
		counter++;
		counterElement.innerText = counter;
		cartCounterElement.innerText = counter;
	}

	function decrement() {
		if (counter > 0) {
			counter--;
			counterElement.innerText = counter;
			cartCounterElement.innerText = counter;
		}
	}
</script>
<script>
	function addComment() {
		var commentText = document.getElementById("comment-text").value;
		if (commentText) {
			var commentList = document.getElementById("comment-list");
			var currentDate = new Date().toDateString();
			var newComment = document.createElement("li");
			newComment.innerHTML = "<span class='comment-author'>You:</span>" + commentText + "<span class='comment-date'>" + currentDate + "</span>";
			commentList.appendChild(newComment);
			document.getElementById("comment-text").value = "";
		}
	}

</script>

